doctype html
html(lang="en")
    head
        title= title
        link(rel="stylesheet", href="css/style.css")
    body
        include partials/header

        block content
            
        footer
            p= footer
            p Copyright #{new Date().getFullYear()}
            
            