doctype html
html(lang="en")
    head
        title= title
    body
        include partials/header

        block content
            
        footer
            p= footer
            p Copyright #{new Date().getFullYear()}
            
            